.container.top-page-margin
  .row
    %h1= @adventure.title
    %p= @adventure.author
    %p= adventure_description(@adventure)
    %hr
    %h2.inline-heading Scenes
    = link_to 'Add New Scene', new_scene_path( adventure_id: @adventure.id ), class: 'btn btn-primary'
    = render(:partial => 'scenes/scene', :collection => @adventure.scenes) || content_tag( :p, 'This adventure has no scenes yet.')
